<!--<p class="font-weight-bold">Gestion miembros de proyectos</p>


<div class="card">
  <div class="card-body">
    <p class="font-weight-bold">Invitar usuario al proyecto</p>
    <form>
      <div class="form-group">
        <label>Proyecto</label>
        <input type="text" name="title" [(ngModel)]="viaje.lugar" placeholder="" class="form-control" autofocus>
      </div>
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" name="title" [(ngModel)]="viaje.lugar" placeholder="" class="form-control" autofocus>
      </div>
      <button type="submit" class="btn btn-primary" (click)="invitarmiembro()">Enviar</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="font-weight-bold">Eliminar miembro del proyecto</p>
    <form>
      <div class="form-group">
        <label for="Eliminarmiembro">Usuario</label>
        <textarea class="form-control" id="Eliminarmiembro" rows="1"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <p class="font-weight-bold">Cambiar Jefe de Proyecto</p>
    <form>
      <div class="form-group">
        <label for="Jefeamiembro">Usuario</label>
        <textarea class="form-control" id="Jefeamiembro" rows="1"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>

-->

